<a href="https://colab.research.google.com/github/josevitor676/Lista_02Python/blob/main/Lista_02Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


##41.	LEIA UM NÚMERO INTEIRO E IMPRIMA ATÉ O VALOR 0.

In [ ]:
num = int(input(" Digite um número "))

for i in range(num, -1, -1):
  print(i)

 Digite um número 5
5
4
3
2
1
0

#42.	FAÇA UM PROGRAMA QUE IMPRIME A QUANTIDADE DE NÚMEROS PARES DE 100 ATÉ 200, INCLUINDO- OS.

In [ ]:
qtd = 0
for i in range(100, 201, 2):
  qtd += 1
print(qtd)

#43.	FAÇA UM PROGRAMA PARA CONTAR A QUANTIDADE DE NÚMEROS PARES ENTRE DOIS NÚMEROS QUAISQUER

In [ ]:
numero1 = int(input("Digite um número "))
numero2 = int(input("Digite mais um número "))
qtd = 0

if numero1 > numero2:
  for i in range(numero2, numero1 +1):
    if i % 2 == 0:
      qtd += 1
      print(f'numero par {i}')    
  print(f'Quantidade de numeros pares entre {numero1} e {numero2} é {qtd}')
elif numero1 < numero2:
  for i in range(numero1, numero2 +1):
    if i % 2 == 0:
      qtd += 1
      print(f'numero par {i}') 
  print(f'Quantidade de numeros pares entre {numero2} e {numero1} é {qtd}')
elif numero1 == numero2:
   print("Numeros Iguais")

#Listas

In [ ]:
lista = [1,2,3,4]
lista.append(5)

nova_lista = lista
lista.append(6)
nova_lista.append(7)

frutas = ['goiaba', 'laranja', 'mexirica', 'tomate', 'melancia']
for num,fruta in enumerate(frutas):
  print(num)
  print(fruta)

frutas[2] = 'morgote'
print(frutas)  

'uva' in frutas
'morgote' in frutas

In [ ]:
for num,fruta in enumerate(frutas):
  print(num, fruta)
  frutas[num] = fruta.upper()

In [ ]:
i = 0
for fruta in frutas:
  frutas[i] = fruta.lower()
  i +=1
print(frutas)

#Tuplas

In [ ]:
times = ('santos', 'real madrid', 'milan', 'liverpool', 'bayern')
#type(times)

for num,time in enumerate(times):
  print(num,'-', time)
  print('-'*30)

#Dicionário

In [ ]:
dicionario = {"nome": "julio", "idade": 32, "time": "santos", "cor": "Amarelo", "altura": 1.78, "peso": 90}
dicionario['nome']

In [ ]:
dicionario.keys()

In [ ]:
dicionario.values()

In [ ]:
dicionario.items()

In [ ]:
for key in dicionario.keys():
  print(key)

In [ ]:
for value in dicionario.values():
  print(value)

In [ ]:
for key, value in dicionario.items():
  print(key, ':', value)

In [ ]:
dicionario["pai"] = 'vanderlei'

In [ ]:
dicionario["peso"] = 88

In [ ]:
dicionario

33.	ELABORE UM ALGORITMO QUE DADA A IDADE DE UM NADADOR CLASSIFICA- O EM UMA DAS SEGUINTES CATEGORIAS: INFANTIL A = 5 - 7 ANOS, INFANTIL B = 8 - 10 ANOS, JUVENIL A = 1 1 - 13 ANOS, JUVENIL B = 14 - 17 ANOS, ADULTO = MAIORES DE 18 ANOS.

In [ ]:
idade = int(input("Digite a idade do nadador "))
idade_nadador = {
    "Infantil A": [5,6,7],
    "Infantil B": [8,9,10],
    "Juvenil A": [11,12,13],
    "Juvenil B": [14,15,16,17],
    "Adulto": [x for x in range(18,101)]
}
for key,value in idade_nadador.items():
  if idade in value:
    print(key)

###44 - FAÇA UM PROGRAMA QUE IMPRIME A SOMA DE TODOS OS NÚMEROS PARES ENTRE DOIS NÚMEROS QUAISQUER, INCLUINDO- OS

In [ ]:
num1 = input("Digite um numero: ")
num2 = input("Digite um numero: ")
total = 0
if int(num1) < int(num2):
    for i in range(int(num1), int(num2) +1):
      if i % 2 == 0:
        total += i
    print(f'A soma de todos os numeros pares entre {num1} e {num2} é {total}')
elif int(num1) > int(num2):
  for i in range(int(num2), int(num1) +1):
    if i % 2 == 0:
      total += i
  print(f'A soma de todos os numeros pares entre {num1} e {num2} é {total}')
elif int(num1) == int(num2):
  print(f'Numeros Iguais')

#### 45 - FAÇA UM PROGRAMA QUE CALCULE O FATORIAL DE UM NÚMERO

In [ ]:
num = int(input("Digite um numero: "))
res=1
for i in range(1,num+1):
  res *= i
print(f'Fatorial de {num} é {res}')

####46 - FAÇA UM PROGRAMA QUE DETERMINE O MOSTRE OS CINCO PRIMEIROS MÚLTIPLOS DE  3, CONSIDERANDO NÚMEROS MAIORES QUE 0.

In [ ]:

for i in range(1,6):
  print(f'Os cincos primeiros numeros multiplos de 3 são: 3 x {i} = {i * 3} ')

####47 - FAÇA UM ALGORITMO UTILIZANDO O COMANDO WHILE QUE MOSTRA UMA CONTAGEM REGRESSIVA NA TELA, INICIANDO EM 10 E TERMINANDO EM  0 . MOSTRAR UMA MENSAGEM “ FIM!”  APÓS A CONTAGEM.

In [ ]:
contador = 11
while contador > 0:
  contador -= 1
  if contador == -1:
    break
  print(contador)
print('FIM!')

####48 - FAÇA UM PROGRAMA QUE PEÇA AO USUÁRIO PARA DIGITAR 10 VALORES E SOME- OS.

In [ ]:
soma = []
total = 0
while True:
  num = input("Digite um numero: ")
  try:
    soma.append(float(num))
    if len(soma) == 10:
      for i in soma:
        total += i
      print(f'A soma de todos os numeros do array é {total}')
      break
  except ValueError:
    print('Erro - Digite um numero')

#### 49 - FAÇA UM PROGRAMA QUE LEIA 10 INTEIROS E IMPRIMA SUA MÉDIA

In [ ]:
media = []
mediaTotal = 0
while True:
  num = input("Digite uma nota: ")
  try:
    media.append(int(num))
    if len(media) == 10:
      for i in media:
        mediaTotal += i
      print(f'A media de todos os numeros do array é {mediaTotal / len(media)}')
      break
  except ValueError:
    print('Erro - Digite uma nota')

####50 - FAÇA UM PROGRAMA QUE LEIA 10 INTEIROS POSITIVOS, IGNORANDO NAO POSITIVOS, E IMPRIMA SUA MÉDIA.

In [ ]:
mediaPositivos = []
totalPositivos = 0
while True:
  nota = input("Digite uma nota: ")
  try:
    if int(nota) <= 0:
      print("Nota invalida")
    else:
      mediaPositivos.append(int(nota))
      if len(mediaPositivos) == 10:
        for i in mediaPositivos:
          totalPositivos += i
        print(f'A media de notas é {totalPositivos / len(mediaPositivos)}')
        break
  except ValueError:
    print('Erro - Digite uma nota')

####51 - FAÇA UM PROGRAMA QUE LEIA UM NÚMERO INTEIRO N E DEPOIS IMPRIMA OS N PRIMEIROS NUMEROS NATURAIS ÍMPARES.

In [ ]:
num = input("Digite um numero: ")
try:
  if int(num) <= 0:
    print('Digite um numero positivo')
  else:
    for i in range(1,  int(num) + 1):
      if i % 2 == 1:
        print(i)
        break
except ValueError:
  print("Erro digite um numero")

####52 - FAÇA UM PROGRAMA QUE CALCULE E MOSTRE A SOMA DOS 50 PRIMEIROS NUMEROS PARES

In [ ]:
total = 0
for i in range(1, 101):
  if i % 2 == 0:
    total += i
print(f'A Soma dos 50 primeiros numeros pares é {total}')

####53 - IMPRIMA OS PRIMEIROS 10 NÚMEROS NATURAIS USANDO O LOOP WHILE.

In [ ]:
contador = 1
while contador <=10:
  print(contador)
  contador += 1
print("Fim")

####54 - IMPRIMIR TABUADA DE   UM   DETERMINADO NÚMERO.

In [ ]:
numero = int(input("Digite um numero: "))
for i in range(1,11):
  print(f"{numero} x {i} = {(numero * i)}")

####55 - EXIBIR NÚMEROS DE   - 10   A  -1 USANDO O  LOOP FOR. EXIBIR UMA MENSAGEM " FEITOOOO" APÓS A EXECUÇÃO BEM- SUCEDIDA DO LOOP FOR

In [ ]:
for num in range(-10, 0):
  print(num)
print("Feitoooo")

####56 -  LEIA UM NÚMERO INTEIRO E MOSTRE O CUBO ATÉ ESSE NÚMERO.

In [ ]:
numero = int(input("Digite um numero: "))
numCubo = numero ** 3
for num in range(numCubo, numero - 1, -1):
  print(num)

####57 - FAÇA UM PROGRAMA QUE LEIA UM NÚMERO INTEIRO POSITIVO N E IMPRIMA TODOS OS NÚMEROS NATURAIS DE 0 ATÉ N EM ORDEM DECRESCENTE

In [ ]:
numero = int(input("Digite um numero: "))
if numero > 0:
  for num in range(numero, -1, -1):
    print(num)
else:
  print("Por favor digite um numero maior que zero")

####58 - FAÇA UM PROGRAMA QUE LEIA UM NUMERO INTEIRO POSITIVO N E IMPRIMA TODOS OS NÚMEROS NATURAIS DE 0 ATÉ N EM ORDEM CRESCENTE.

In [ ]:
numero = int(input("Digite um numero: "))
if numero > 0:
  for num in range(0, numero + 1, 1):
    print(num)
else:
  print("Por favor digite um numero maior que zero")

####59 - LEIA UM NÚMERO INTEIRO, E CONTE O NÚMERO TOTAL DE DÍGITOS. EX: 3 (1 DÍGITO), 10 ( 2 DÍGITOS), 233 ( 3 DÍGITOS), ETC.

In [ ]:
numero = int(input("Digite um numero: "))
if numero < 0:
  numeroNeg = abs(numero)
  if len(str(numeroNeg)) == 1:
    print(f'{numero} possui {len(str(numeroNeg))} dígito')
  else:
    print(f'{numero} possui {len(str(numeroNeg))} dígitos')
else:
  if len(str(numero)) == 1:
    print(f'{numero} possui {len(str(numero))} dígito')
  else:
    print(f'{numero} possui {len(str(numero))} dígitos')

####60 - FAÇA UM PROGRAMA QUE IMPRIME A SOMA DE TODOS OS NÚMEROS ÍMPARES ENTRE DOIS NÚMEROS QUAISQUER, INCLUINDO- OS.

In [ ]:
# impares = []
# numero1 = int(input("Digite um numero: "))
# numero2 = int(input("Digite outro numero: "))
# if numero1 < numero2:
#   for num in range(numero1, numero2 + 1, 1):
#     if num % 2 != 0:
#       impares.append(num)
#       totalImpares = sum(impares)
#   print(f'A soma dos numeros impares entre {numero1} e {numero2} é {totalImpares}')
# elif numero2 < numero1:
#   for num in range(numero2, numero1 + 1, 1):
#     if num % 2 != 0:
#       impares.append(num)
#       totalImpares = sum(impares)
#   print(f'A soma dos numeros impares entre {numero2} e {numero1} é {totalImpares}')
list_impares = []
primnum = int(input("Digite o primeiro numero: "))
segnum = int(input("Digite o segundo numero: "))
for num in range(primnum, segnum + 1):
  if num % 2 != 0:
    list_impares.append(num)
print(sum(list_impares))

In [104]:
list_impares = []
# primnum = int(input("Digite o primeiro numero: "))
# segnum = int(input("Digite o segundo numero: "))
num = 4


for divisor in range(2, num):
  #print(divisor)
  if num % divisor == 0:
    print(num)
  else:
    list_impares.append(num)
    print(list_impares)

#print(list_impares)

4
[4]

In [ ]:
list_impares = []
primnum = int(input("Digite o primeiro numero: "))
segnum = int(input("Digite o segundo numero: "))
for num in range(primnum, segnum + 1):
  list_impares.append(num)
  for n in range(2, num):
    if num % n == 0:
      if num in list_impares:
        list_impares.remove(num)     
      if 1 in list_impares:
        list_impares.remove(1)  
print(sum(list_impares))

####61 - ESCREVA UM PROGRAMA PARA SOMAR TODOS OS ITENS EM UMA LISTA.

In [ ]:
array = [1,2,3,4,5]
total = 0
for i in array:
  total += i
print(f'A soma do itens da lista é {total}')

####62 - ESCREVA UM PROGRAMA PARA MULTIPLICAR TODOS OS ITENS DE UMA LISTA

In [163]:
array = [1,2,3,4]
total = 1
for i in array:
  total *= i
print(f'O valor da multiplicação dos itens é: {total}')

O valor da multiplicação dos itens é: 24

####63 - ESCREVA UM PROGRAMA PARA OBTER O MAIOR NÚMERO DE UMA LISTA.

In [ ]:
array = [1,2,3,4]
print(f'O maior elemento da lista é: {max(array)}')

####64 - ESCREVA UM PROGRAMA PARA OBTER O MENOR NÚMERO DE UMA LISTA.

In [ ]:
array = [-5,1,2,3,4,5]
print(f'O menor elemento da lista é: {min(array)}')

####65 - ESCREVA UM PROGRAMA PARA REMOVER DUPLICATAS DE UMA LISTA.

In [ ]:
array = [1,2,2,3,3,4,5,5,5]
naoRepetidos = []
for num in array:
  if num not in naoRepetidos:
    naoRepetidos.append(num)
print(naoRepetidos)

####66 - ESCREVA UM PROGRAMA PARA COPIAR UMA LISTA PARA OUTRA.

In [ ]:
nomes = ["jose", "vitor", "joao", "pedro", "alex", "laura"]
nomesCopia = nomes.copy()
nomesCopia.append("marilia")
print(nomesCopia)
print(nomes)

####67 -	ESCREVA UM PROGRAMA QUE RECEBA DUAS LISTAS E RETORNE TRUE SE ELAS TIVEREM PELO MENOS UM ELEMENTO EM COMUM.

In [ ]:
nome1 = [1,2,3,4,5]
nome2 = [6,7,8,9]

for n1 in nome1:
  if n1 in nome2:
    print(True)

####68 - ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA.

In [ ]:
# arrayItens = []
# print(f"Se quiser encerrar o programa digite - sair")
# while True:
#   try:
#     item = input("Digite um item: ")
#     if item == 'sair':
#       print("programa encerrado")
#       print(tuplaItens)
#       break
#     arrayItens.append(item)
#     tuplaItens = tuple(arrayItens)
#     print(tuplaItens)
#   except ValueError:
#     print("Erro!!!")
tupla = (1,2,2,3,5)

####69 ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA COM DIFERENTES TIPOS DE DADOS.

In [ ]:
# arrayItens = []
# print(f"Se quiser encerrar o programa digite - sair")
# while True:
#   try:
#     item = input("Digite um item: ")
#     tipo_dado = input("Qual o tipo de dados: ")
#     if tipo_dado == 'number':
#       arrayItens.append(int(item))
#     if tipo_dado == 'string':
#       arrayItens.append(str(item)) 
#     if tipo_dado == 'float':
#       arrayItens.append(float(item))
#     if item == 'sair':
#       print("programa encerrado")
#       print(tuplaItens)
#       break
#     # arrayItens.append(item)
#     tuplaItens = tuple(arrayItens)
#     print(tuplaItens)
#   except ValueError:
#     print("Erro!!!")

tupla_itens = (1, 'jose', 1.5, ['jose', 2, 19])

####70 - ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA COM NÚMEROS E IMPRIMIR UM ITEM.

In [188]:
tupla_numbers = (1,2,3,4)
print(tupla_numbers[1])

2

####71 -	ESCREVA UM PROGRAMA PARA ADICIONAR UM ITEM EM UMA TUPLA.

In [ ]:
tupla = ()
lista = list(tupla)
lista.append(1)
tupla = tuple(lista)
print(tupla)

#### 72 - ESCREVA UM PROGRAMA PARA OBTER O 4 º ELEMENTO E O ÚLTIMO DE UMA TUPLA.

In [194]:
tupla = (1,'jose', 'vitor', 8, 'joao', 'pedro', 10, 17)
print(tupla[4])
print(tupla[-1])

joao
17