<a href="https://colab.research.google.com/github/josevitor676/Lista_02Python/blob/main/Lista_02Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


##41.	LEIA UM NÚMERO INTEIRO E IMPRIMA ATÉ O VALOR 0.

In [ ]:
num = int(input(" Digite um número "))

for i in range(num, -1, -1):
  print(i)

#42.	FAÇA UM PROGRAMA QUE IMPRIME A QUANTIDADE DE NÚMEROS PARES DE 100 ATÉ 200, INCLUINDO- OS.

In [ ]:
qtd = 0
for i in range(100, 201, 2):
  print(i)
  qtd += 1
print(qtd)

#43.	FAÇA UM PROGRAMA PARA CONTAR A QUANTIDADE DE NÚMEROS PARES ENTRE DOIS NÚMEROS QUAISQUER

In [ ]:
numero1 = int(input("Digite um número "))
numero2 = int(input("Digite mais um número "))
qtd = 0

if numero1 > numero2:
  for i in range(numero2, numero1, 2):
    if i % 2 == 0:
      print(i)
elif numero1 < numero2:
  for i in range(numero1, numero2, 2):
    if i % 2 == 0:
      print(i)
elif numero1 == numero2:
   print("Numeros Iguais")

#Listas

In [ ]:
lista = [1,2,3,4]
lista.append(5)

nova_lista = lista
lista.append(6)
nova_lista.append(7)

frutas = ['goiaba', 'laranja', 'mexirica', 'tomate', 'melancia']
for num,fruta in enumerate(frutas):
  print(num)
  print(fruta)

frutas[2] = 'morgote'
print(frutas)  

'uva' in frutas
'morgote' in frutas

In [ ]:
for num,fruta in enumerate(frutas):
  print(num, fruta)
  frutas[num] = fruta.upper()

In [ ]:
i = 0
for fruta in frutas:
  frutas[i] = fruta.lower()
  i +=1
print(frutas)

#Tuplas

In [ ]:
times = ('santos', 'real madrid', 'milan', 'liverpool', 'bayern')
#type(times)

for num,time in enumerate(times):
  print(num,'-', time)
  print('-'*30)

#Dicionário

In [57]:
dicionario = {"nome": "julio", "idade": 32, "time": "santos", "cor": "Amarelo", "altura": 1.78, "peso": 90}
dicionario['nome']

'julio'

In [ ]:
dicionario.keys()

In [ ]:
dicionario.values()

In [ ]:
dicionario.items()

In [ ]:
for key in dicionario.keys():
  print(key)

In [ ]:
for value in dicionario.values():
  print(value)

In [ ]:
for key, value in dicionario.items():
  print(key, ':', value)

In [69]:
dicionario["pai"] = 'vanderlei'

In [71]:
dicionario["peso"] = 88

In [ ]:
dicionario

33.	ELABORE UM ALGORITMO QUE DADA A IDADE DE UM NADADOR CLASSIFICA- O EM UMA DAS SEGUINTES CATEGORIAS: INFANTIL A = 5 - 7 ANOS, INFANTIL B = 8 - 10 ANOS, JUVENIL A = 1 1 - 13 ANOS, JUVENIL B = 14 - 17 ANOS, ADULTO = MAIORES DE 18 ANOS.

In [ ]:
idade = int(input("Digite a idade do nadador "))
idade_nadador = {
    "Infantil A": [5,6,7],
    "Infantil B": [8,9,10],
    "Juvenil A": [11,12,13],
    "Juvenil B": [14,15,16,17],
    "Adulto": [x for x in range(18,101)]
}
for key,value in idade_nadador.items():
  if idade in value:
    print(key)